.BigButton {
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 8px 8px 0px 0px #BDBDBD;
    cursor: pointer;


    font-family: var(--font-space-grotesk);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 2.25rem */
    letter-spacing: 0.015rem;

    transition: color 0.5s ease;
}

.BlackBigButton {
    background-color: #1B1B1B;
    color: #F9F9F9;
    border: none;
}

.WhiteBigButton {
    background-color: #FFF;
    color: #1B1B1B;
    border: 1px solid var(--c10, #1B1B1B);;
}

.BigButton:hover {
    color: var(--c7, #6B6B6B);

}

.BigButton:active {
    transform: scale(0.90);
    transition: transform 0.4s ease-in-out;
}

