.footer {
    display: flex;
    width: 100%;
    height: 336px;
    padding: 80px 160px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;

    border-top: 1px solid var(--c9, #3D3D3D);
    background: var(--c10, #1B1B1B);
}

.footer .newsLetter {
    display: flex;
    flex-direction: column;
    width: 341px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    color: #F9F9F9;
}

.footer .newsLetter p {
    color: var(--c2, #F9F9F9);
    font-family: var(--space-grotesk);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
}

.footer .newsLetter .inputArea {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.inputArea .input {
    height: 36px;
    background-color: transparent;
    border: 1px solid var(--c2, #F9F9F9);
    padding: 8px 16px;
    color: var(--c6, #808080);
    font-family: var(--space-grotesk);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.inputArea .input:focus {
    outline: none;
}

.inputArea .inputButton {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer .logo {
    color: var(--c2, #F9F9F9);
    font-family: var(--space-grotesk);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
}

.footer .additionalInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.footer .additionalInfo a {
    text-decoration: none;
    color: var(--c2, #F9F9F9);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}

.footer .additionalInfo .socialMedias {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.socialMedias .socialMedia {
    cursor: pointer;
}

@media (max-width: 900px) {
    .footer {
        height: fit-content;
        width: 100%;
        gap: 40px;
        flex-direction: column;
        padding: 40px 15px;
        align-items: center;
    }

    .footer .newsLetter {
        align-items: center;
    }

    .footer .newsLetter p {
        text-align: center;
        font-size: 16px;
        line-height: 150%; /* 24px */
        letter-spacing: 0.16px;
    }

    .footer .additionalInfo {
        align-items: center;
    }
}