.productsPage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 80px 160px;
    overflow: visible;
}

.title {
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 59px */
    letter-spacing: -1.18px;
    margin-bottom: 60px;
}

.header {
    width: 100%;  
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.searchSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.searchSection p {
    height: 29px;
    display: flex;
    align-items: center;
}

.inputArea {
    display: flex;
    width: 290px;
    height: 36px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--c10, #1B1B1B);
    gap: 10px;
}

.inputArea input {
    width: 100%;
    height: 30px;

    color: var(--c6, #808080);
    /* sub2 */
    font-family: var(--font-space-grotesk);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    border: none;
}

.inputArea input:focus {
    outline: none;
}

.filterSection {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.filterButton {
    justify-self: self-start;
    display: flex;
    height: 36px;
    padding: 8px 16px;
    align-items: center;
    background: var(--c10, #1B1B1B);
    cursor: pointer;
    gap: 8px;
    margin-bottom: 20px;
}

.filterButton p {
    color: var(--c2, #F9F9F9);
    /* sub2 */
    font-family: var(--font-space-grotesk);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
}

.filters {
    position: absolute;

    display: flex;
    gap: 50px;
    padding: 24px;
    justify-content: space-between;

    background: var(--c10, #1B1B1B);

    top: 55%;
    right: 0%;

}

.filters section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filters section p {
    color: var(--c2, #F9F9F9);
    font-family:  var(--font-space-grotesk);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    white-space: nowrap;
}

.filters section .categories, .filters section .colections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--c2, #F9F9F9);
    text-align: center;
    gap: 8px;
    /* sub1 */
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}

.categories div, .colections div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categories div input, .colections div input {
    cursor: pointer;
}

.clean {
    position: absolute;
    right: 24px;
    bottom: 24px;
    cursor: pointer;

    color: var(--c6, #808080);
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    text-decoration-line: underline;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    height: 29px;
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
}

.tag img {
    cursor: pointer;
}


.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.notFound h2 {
    color: var(--c10, #1B1B1B);
    font-family: var(--font-space-grotesk);
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 49.5px */
    letter-spacing: 0.083px;

    text-align: center;
}

.notFound p {
    color: var(--c7, #6B6B6B);
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    text-align: center;

}

.products {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productA {
    text-decoration: none;
}
 

@media (max-width: 1439px) {
    .productsTable {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}


@media (max-width: 950px) {
    .productsPage {
        padding: 40px 15px;
    }

    .title {
        color: var(--c10, #1B1B1B);
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%; /* 28px */
        letter-spacing: -0.56px;
        margin-bottom: 40px;
    }

    .searchSection p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.048px;
    }

    .inputArea {
        width: 240px;
        height: 28px;
        padding: 5px 8px;
    }

    .inputArea input {
        height: 22px;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 18px */
        letter-spacing: 0.048px;
    }

    .inputArea img {
        width: 16px;
        height: 16px;
    }

    .filters {
        top: 55%;
        padding: 24px;
        gap: 24px;
        min-width: 314px;
    }
    .filters section p {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: 0.024px;
    }
    .filters section .categories, .filters section .colections {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }

    .filterButton {
        width: 80px;
        height: 28px;
        padding: 0 4px;
        justify-content: center;
        align-items: center;
    }

    .filterButton p {
        font-size: 12px;
    }

    .filterButton img {
        width: 16px;
        height: 16px;
    }

    .tags {
        justify-content: flex-start;
    }

    .tag {
        padding: 4px 8px;
        gap: 10px;
    }

    .notFound h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        letter-spacing: 0.03px;
    }

    .notFound p {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 15px */
    }
}