.productCard {
    display: flex;
    flex-direction: column;

    gap: 16px;

    cursor: pointer;
    text-decoration: none;
}

.image {
    background-color: gray;
}

.info {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.info .name {
    color: var(--c11, #101010);
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

.info .prices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.prices .price {
    color: var(--c11, #101010);
    /* h6 */
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.03px;
}

.prices .oldPrice {
    color: var(--c6, #808080);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-decoration: line-through;
}

.info .quantity {
    color: var(--c6, #808080);
    /* sub1 */
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}


@media (max-width: 950px) {
    .productCard {
        width: 165px !important;
        height: 226px !important;
        display: flex;
        flex-direction: column;
    
        gap: 8px;
    }

    .image {
        width: 165px !important;
        height: 165px !important;
        background-color: gray;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    
    .info .name {
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 15px */
    }
    
    .info .prices {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .prices .price {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 15px */
        letter-spacing: 0.15px;
    }
    
    .prices .oldPrice {
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 12px */
        letter-spacing: 0.12px;
    }
    
    .info .quantity {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 15px */
        letter-spacing: 0.15px;
    }

    .block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}