.dropdownContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
}

.dropdown {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--c10, #1B1B1B);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--c10, #1B1B1B);
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.dropdownList {
    position: absolute;
    top: 100%; /* Posiciona o topo do dropdown list abaixo do dropdown container */
    left: 0; /* Alinha a borda esquerda do dropdown list com a borda esquerda do dropdown container */
    z-index: 2;
    display: flex;
    width: 5rem;
    padding: 0.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    border: 1px solid var(--c4, #BDBDBD);
    background: var(--c1, #FFF);
    cursor: pointer;
    list-style-type: none;
}

.dropdown-list li {
    color: var(--c9, #3D3D3D);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    cursor: pointer;
}
