.main{
    padding: 80px 65px;
}

.center{
    width: 100%;
    height: 987px;   
    display: flex;
    justify-content: center;
    gap: 20px;
}
.left{
    display: flex;
    width: 645px;
    justify-content: space-between;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 550px;
}

.mainImageDiv{
    position: relative;
    width: 550px;
}

.mainImageDivDiv{
    background-color: #D1D1D1;
    height: 550px;
    width: 550px;
}
.mainImageDivDiv img{   
    height: 550px;
    width: 550px;
}

.sideImagesDiv{
    width: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sideImagesDivDiv{
    height: 75px;
    width: 75px;
    background-color: #D1D1D1;
}
.sideImagesDivDiv img{
    height: 75px;
    width: 75px;
}

.title{
    color: var(--c11, #101010);
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 49.5px */
    width: 523px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.price {
    display: flex;
    align-items: center;
    color: var(--c11, #101010);
    /* h6 */
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.03px;
}

.oldPrice {
    display: flex;
    align-items: center;
    color: var(--c6, #808080);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-decoration: line-through;
}

.quantity {
    color: var(--c6, #808080);
    /* sub1 */
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}

.black{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--c10, #1B1B1B);
    color: var(--c2, #F9F9F9);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    border: 0;
}

.fav{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
}

.arrow{
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--c10, #1B1B1B);
}

.description{
    color: var(--c10, #1B1B1B);
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    align-self: stretch;
}

.tag{
    display: flex;
    width: fit-content;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
    color: var(--c10, #1B1B1B);
    text-align: center;
    /* sub2 */
    font-family: Cabinet Grotesk;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
}

.collection{
    display: flex;
    gap:8px;
    flex-direction: column;
}

.sectionTitle{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 59px */
    letter-spacing: -1.18px;
    margin-top: 150px;
    margin-bottom: 60px;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.notFound h2 {
    color: var(--c10, #1B1B1B);
    font-family: var(--font-space-grotesk);
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 49.5px */
    letter-spacing: 0.083px;

    text-align: center;
}

.notFound p {
    color: var(--c7, #6B6B6B);
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    text-align: center;

}

.products {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productA{
    text-decoration: none;
}

.buttonDiv{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1439px) {
    .productsTable {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}


@media (max-width: 950px) {
    .productsPage {
        padding: 40px 15px;
    }

    .title {
        color: var(--c10, #1B1B1B);
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%; /* 28px */
        letter-spacing: -0.56px;
        margin-bottom: 40px;
    }

    .searchSection p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.048px;
    }

    .inputArea {
        width: 240px;
        height: 28px;
        padding: 5px 8px;
    }

    .inputArea input {
        height: 22px;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 18px */
        letter-spacing: 0.048px;
    }

    .inputArea img {
        width: 16px;
        height: 16px;
    }

    .filters {
        top: 55%;
        padding: 24px;
        gap: 24px;
        min-width: 314px;
    }
    .filters section p {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: 0.024px;
    }
    .filters section .categories, .filters section .colections {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }

    .filterButton {
        width: 80px;
        height: 28px;
        padding: 0 4px;
        justify-content: center;
        align-items: center;
    }

    .filterButton p {
        font-size: 12px;
    }

    .filterButton img {
        width: 16px;
        height: 16px;
    }

    .tags {
        justify-content: flex-start;
    }

    .tag {
        padding: 4px 8px;
        gap: 10px;
    }

    .notFound h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        letter-spacing: 0.03px;
    }

    .notFound p {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 15px */
    }
}

@media (max-width: 1300px){
    .main{
        padding: 60px 15px;
    }
    .center{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex-direction: column-reverse;
        width: 345px;
        gap: 14px;
    }
    .right{
        width: 345px;
    }
    .sideImagesDiv{
        flex-direction: row;
        width: 345px;
    }
    .sideImagesDivDiv{
        height: 60px;
        width: 60px;
    }

    .mainImageDiv{
        width: 345px;
        height: 345px;
    }
    .mainImageDivDiv{
        height: 345px;
        width: 345px;
    }
    .title{
        width: 345px;
        color: var(--c11, #101010);
        font-family: Inter;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
        letter-spacing: 0.03px;
        margin-bottom: 0;
    }
    .arrow{
        height: 28px;
        width: 28px;
    }
}