.header {
    display: flex;
    width: 100%;
    padding: 16px 160px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid var(--c4, #BDBDBD);
    background: var(--c2, #F9F9F9);
}

.header .logo {
    color: var(--c10, #1B1B1B);
    font-family: var(--font-space-grotesk);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    cursor: pointer;
    text-decoration: none;
}

.header .menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu .dropdownArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.menu .dropdownArea .dropdown {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;

    border: 1px solid var(--c4, #BDBDBD);
    background: var(--c2, #F9F9F9);
    top: 52px;
}

.menu .dropdownArea .dropdown a {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: var(--c10, #1B1B1B);
}

.header .menu .link {
    display: flex;
    width: 100px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    cursor: pointer;
}

.header .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.icon {
    cursor: pointer;
}

.burguerMenuArea {
    position: relative;
}

.burguerMenu {
    position: absolute;

    display: flex;
    width: 375px;
    padding: 24px;
    justify-content: space-between;

    border: 1px solid var(--c4, #BDBDBD);
    background: var(--c2, #F9F9F9);
    top: 48px;
    right: -15px;

    z-index: 20;
}

.burguerMenu section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.burguerMenu section p {
    color: var(--c10, #1B1B1B);
    font-family:  var(--font-space-grotesk);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}

.burguerMenu section .linkArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: center;
    gap: 8px;
    /* sub1 */
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;

}

.linkArea a {
    color: var(--c10, #1B1B1B);
    text-decoration: none;
}

@media (max-width: 950px) {
    .header {
        padding: 16px 15px;
    }
    
    .header .userInfo {
        gap: 20px;
    }
}