.DeleteButton {
    all: unset;

    display: flex;
    padding: 0.5rem 1rem;
    width: 7.625rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--c10, #1B1B1B);

    color: var(--c10, #1B1B1B);
    text-align: center;

    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    cursor: pointer;
}

.Modal {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 11rem;
    border: 2px solid var(--c10, #1B1B1B);

    color: var(--c10, #1B1B1B);

    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.00938rem;
}

.ModalContent p{
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.AcceptButton {
    all: unset;
    color: #ffffff;
    background-color: var(--c10, #1B1B1B);
}

.DeclineButton {
    all: unset;
    color: var(--c10, #1B1B1B);
    border: 2px solid var(--c10, #1B1B1B);
}

.Modal button {
    display: flex;
    padding: 0.25rem 0.5rem;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    text-align: center;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.00938rem;

    cursor: pointer;
}



.ModalButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

/*
Caso o modal precise tomar toda a tela, basta colocar o seguinte CSS:
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
*/