@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=DM+Sans:opsz,wght@9..40,300&family=Lato:wght@100;300;400;700&family=Open+Sans&family=Oswald:wght@700&family=Poppins:wght@400;900&family=Quattrocento+Sans&family=Raleway:wght@900&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.title{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 33px */
    letter-spacing: -0.66px;
    margin-bottom: 40px;
}

.modalContent{
    box-sizing: content-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0.25rem;
    z-index: 1001;
    width: 1200px;
    max-height: 85%;
    overflow-y: auto;
}

.pq{
    width: 100%;
    height: 100%;
    padding: 40px;
}

.center{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: space-between;
}

.square{
    height: 510;
    width: 550px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.block p{
    color: var(--c9, #3D3D3D);

    /* Caption */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: 0.048px;
}

.block p span{
    color: var(--c6, #808080);

    /* Caption */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.048px;
}

.left{
    width: 550px;
}

.imgs{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mainImageDiv{
    position: relative;
    width: 455px;
}

.mainImageDivDiv{
    background-color: #D1D1D1;
    height: 455px;
    width: 455px;
}
.mainImageDivDiv img{   
    height: 455px;
    width: 455px;
}

.sideImagesDiv{
    width: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sideImagesDivDiv{
    height: 75px;
    width: 75px;
    background-color: #D1D1D1;
}
.sideImagesDivDiv img{
    height: 75px;
    width: 75px;
}

.overImg{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid var(--c10, #1B1B1B);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overImg img{
    height: 20px;
    width: 20px;
}

.delete{
    top: 425px;
    left: 395px;
}

.file_upload{
    left: 425px;
    top: 425px;
}

.buttons{
    margin-left: 96px;
    display: flex;
    gap:20px;
    margin-top: 20px;
}

.black{
    display: flex;
    height: 36px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--c10, #1B1B1B);
    color: var(--c2, #F9F9F9);
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.014px;
    border: 0;
    cursor: pointer;
}

.white{
    display: flex;
    height: 36px;
    padding: 8px 16px;
    align-items: center;
    background-color: white;
    gap: 8px;
    border: 1px solid var(--c10, #1B1B1B);
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.phoneButton{
    background-color: white;
    width: 100%;
    height: 80px;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
    padding: 0 15px;
}

.blackPhone{
    width: 30%;
    height: 48px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--c10, #1B1B1B);
    color: var(--c2, #F9F9F9);   
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}

.whitePhone{
    width: 30%;
    height: 48px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--c10, #1B1B1B);
    background: var(--c1, #FFF);
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
}

@media (max-width: 1000px){
    .modalContent{
        width: 345px;
        transform: translate(-50%, -57%);
    }
    .pq{
        padding: 16px;
    }
    .imgs{
        flex-direction: column-reverse;
    }

    .sideImagesDiv{
        width: 313px;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .sideImagesDivDiv{
        height: 60px;
        width: 60px;
    }
    .sideImagesDivDiv img{
        height: 60px;
        width: 60px;
    }

    .mainImageDiv{
        position: relative;
        width: 313px;
    }
    
    .mainImageDivDiv{
        background-color: #D1D1D1;
        height: 313px;
        width: 313px;
    }
    .mainImageDivDiv img{   
        height: 313px;
        width: 313px;
    }

    .delete{
        top: 280px;
        left: 240px;
    }
    
    .file_upload{
        top: 280px;
        left: 275px;
    }

    .center{
        flex-direction: column;
    }

    .row{
        gap: 4px;
    }

    
    .buttons{
        display: none;
    }

    .phoneButton{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}