.overlay-container {
  position: relative;
  /* Defina estilos adicionais para o contêiner conforme necessário */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal {
  width: fit-content;
  height: fit-content;
  z-index: 22;
  cursor: initial;
}