@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=DM+Sans:opsz,wght@9..40,300&family=Lato:wght@100;300;400;700&family=Open+Sans&family=Oswald:wght@700&family=Poppins:wght@400;900&family=Quattrocento+Sans&family=Raleway:wght@900&family=Space+Grotesk:wght@300;700&display=swap');


.carrinho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 160px;
}


.title {
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
    letter-spacing: -1.18px;
    margin-bottom: 60px;
}

.subtitles{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
    letter-spacing: -1.18px;
    margin-top: 200px;
}

.menu{
    display: flex;
    max-width: 1120px;
    max-height: 2000px;
    flex-direction: row;
    align-items: center;
}

.products{
    display: flex;
    flex-direction: column;
    width: 645px;
    max-width: 90vw;
    justify-content: flex-start;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: row;
    width: 645px;
    padding: 0;
    margin-bottom: 0;
}

.productsinfo{
    width: 475px;
}

.nameproduct{
    color: var(--c10, #1B1B1B);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin-bottom: 15px;
}

.priceproduct{
    color: var(--c10, #1B1B1B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.024px;
    margin-bottom: 25px;
}

.qtdeandtam{
    display: flex;
    flex-direction: row;
    width: 123px;
}

.qtde{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.qtdetitle{
    color: var(--c9, #3D3D3D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.15px;
}

.qtdeoptions{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
    width: 50px;
    height: 24px;
}

.tamtitle{
    color: var(--c9, #3D3D3D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 0.15px;
}

.tamoptions{
    display: flex;
    width: 50px;
    height: 24px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
}

.loveanddel{
    display: flex;
    flex-direction: row;
}

.payment{
    display: flex;
    width: 312px;
    height: 456px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-left: 150px;
}

.buy{
    display: flex;
    width: 312px;
    height: 282px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid var(--c10, #1B1B1B);
}

.buynow{
    display: flex;
    width: 264px;
    justify-content: center;
}

.calcfrete{
    width: 312px;
    height: 62px;
}

.cep{
    width: 236px;
    height: 36px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: 1px solid var(--c10, #1B1B1B);
    margin-top: 8px;
    margin-bottom: 8px;
}

.sendcep{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 256px;
}

.sendcontainer{
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid var(--c10, #1B1B1B);
}

.productsTableRecently {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.productsTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.productA{
    text-decoration: none;
}

.products {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.productsRecently{
    transform: scale(0.75);
}

@media (max-width: 1439px) {
    .productsTable {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}


@media (max-width: 768px) {
    .title {
      font-size: 24px;
    }
  
    .subtitles {
      font-size: 24px;
      margin-top: 60px;
    }
  
    .menu {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  
    .product {
      margin-bottom: 40px;
      transform: scale(0.7);
    }
  
    .priceproduct {
      margin-bottom: 10px;
    }
  
    .qtde, .tam {
      margin-bottom: 10px;
    }
  
    .calcfrete {
      margin-top: 20px;
    }

    .payment{
        margin-left: 0;
    }

    .buy{
        height: 300px;
    }
  }