.MiniButton {
    height: 2.25rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: 0.00088rem;

    transition: color 0.5s ease;
}

.BlackMiniButton {
    background-color: #1B1B1B;
    color: #F9F9F9;
    border: none;
}

.WhiteMiniButton {
    background-color: #FFF;
    color: #1B1B1B;
    border: 1px solid var(--c10, #1B1B1B);;
}

.MiniButton:hover {
    color: var(--c7, #6B6B6B);

}

.MiniButton:active {
    transform: scale(0.80);
    transition: transform 0.4s ease-in-out;
}

