.body{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: var(--c1, #FFF);
    padding: 120px 0 160px 0;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1120px;
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: var(--font-space-grotesk);
    font-size: 94px;
    font-style: normal;
    font-weight: 1000;
    line-height: 100%;
    letter-spacing: -1.88px;
    margin-bottom: 60px;
}

.subtitles{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.18px;
    margin-top: 100px;
}

.options{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 60px;
}

.column {
    height: 872px;
    flex: 1; 
    display: flex;
    flex-direction: column; 
    margin: 10px;
}

.imagelink {
    display: block;
    position: relative;
}

.mainbanner{
    margin-top: 120px;
    max-width: 90vw;
    object-fit: contain;
}
  
.hoverzoom {
    transition: transform 0.3s ease-in-out;
}

.imagelink:hover .hoverzoom {
    transform: scale(1.03);
}

.productsTable {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productA{
    text-decoration: none;
}

@media (max-width: 1439px) {
    .productsTable {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 800px) {
    .body{
        max-width: 100vw;
        padding: 40px 0 140px 0;
    }
    
    .titles{
        font-size: 40px;
    }

    .mainbanner{
        width: 95vw; 
        height: auto; 
        clip-path: inset(0 10% 0 10%);
    }

    .subtitles{
        font-size: 28px;
    }

    .options{
        flex-direction: column;
    }


    .column{
        flex-direction: row; 
        
    }

    #promocoes{
        max-width: 35vw;
        margin: 10px;
        height: 40vw;
    }

    #acessorios{
        max-width: 35vw;
        margin: 10px;
        height: 40vw;
    }

    #white{
        width: 73vw;
    }


}
