@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.inputA{
    display: flex;
    height: 36px;
    padding: 8px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--c10, #1B1B1B);
}

.group{
    display: flex;
}

.Symbol{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 1px solid var(--c10, #1B1B1B);
    background: var(--c3, #D1D1D1);

    /* sub2 */
    font-family: Hanken Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
}

.textarea{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--c10, #1B1B1B);
    resize: none;
}

.selectBox select{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--c10, #1B1B1B);
}

@media (max-width: 1430px){
    .Symbol{
        width: 28px;
        height: 28px;
        color: var(--c10, #1B1B1B);
        font-family: Hanken Grotesk;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 18px */
    }
    .inputA{
        height: 28px;
        font-size: 12px;
        padding: 8px 10px;

    }

}